#red{
    color:#ff525a;
}

.column {
    float: left;
    width: 14%;
  }

.card-titleq{
    overflow: hidden;
    text-overflow:ellipsis;

}

.cardwaw{
    min-width: 45rem;
    max-width: 45rem;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important; 
    flex-wrap: wrap !important;
    gap: 1rem !important;
}

.items{
    float: left;
    width: 14rem;
    min-height: 30rem;
    max-height: 30rem;
    /* width: 15rem; */
}

.btn.disabled {
    pointer-events: none;
}